{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% else %}
  {% if followed %}
   <div class="row">
      <form method="POST" name="unfollow" action="{% url 'users:unfollow' object.username %}">
          {% csrf_token %}
      <div class="col-sm-12">    
          <button type="submit" value="unfollow" class="btn btn-primary">Unfollow</button>
      </div>
      </form>
    </div>
  {% else %}
    <div class="row">
      <form method="POST" name="follow" action="{% url 'users:follow' object.username %}">
          {% csrf_token %}
      <div class="col-sm-12">    
          <button type="submit" value="follow" class="btn btn-primary">Follow</button>
      </div>
      </form>
    </div>
  {% endif %}
  
{% endif %}


</div>
{% endblock content %}

